.cards {
    display: flex;
    gap: 20px;
}

.cards article {
    flex: 1;
    padding: 50px 20px;
    background-color: #e7f0e8;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
}
